// @media screen and (max-width: 1023px)
@media screen and (max-width: 767px)
    .m
        display: block
    .pc
        display: none
    h1
        font-size: 2rem
    h2
        font-size: 1.8rem
    h3
        font-size: 1.5rem
    h4
        font-size: 1.3rem
    p
        font-size: 1rem
    span
	    font-size .7rem
    #menu_list
        li
            font-size 0.8rem
    .socal_media
        transform: translate(-20%,-55%)
        width 10%
        li
            margin-bottom 5px
    #user_login
        #user_form
            padding 2rem 1rem
            max-width 300px
            transform: translate(-50%,-40%)
    /*------index------*/
    .slick-dots
        transform: translate(-25%, -50%)
        li
            width 8px
            height 15px
            button
                width 8px
                height 8px
                &:before
                    width 8px
                    height 8px
                    font-size 0.6rem
    /*------psp_step------*/
    #remainder
        &:before
            margin-right 10px
        span
            font-size : inherit
        input[type="text"]
            width 20%
            font-size 2.2rem
    #formula_content
        flex-direction: column
        .col,.col2
            flex: none
            width 100%
        .col
            margin 0% auto 5% auto
            img
                width 50%
                margin 0% auto 5% auto
    #psp_step3
        input
            font-size 2rem
            line-height 1
            margin-left 1.5rem
    /*------shopping_content------*/
    #shopping_product,#spc_content
        padding 5%
    #shopping_product
        flex-direction: column
        .col
            flex: none
            width 100%
    #product_num
        width 50%
@media screen and (max-width: 400px)
    #menu_list
        li
            font-size 0.85rem
    /*------psp_step------*/
    #psp_step2
	    padding 5%
    
@media screen and (max-width: 359px)
    .socal_media
        transform: translate(-20%,-60%)
    
    /*------psp_step------*/
    #remainder
        input[type="text"]
            font-size 2rem
        &:before
            margin-right 2px
    /*------shopping_content------*/
    #product_num
        display block
        width 100%
        margin-bottom 20px