$yellow= #e8c77a
$light_yellow= #fbde78
$gray= #787878
$gray2= #acacac
$red = #ed5565
$border-gray= #cdcdcd
$light_gray= #ebe7e8
$font_gray= #7f7f7f
$font_green= #69afaf
$max_w= 1200px
$hd_h= 60px
$fontsize = 13pt
@font-face
	font-family: Noto Sans TC
	font-style: normal
	src: url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap')

@import '_hf.styl'
img
	display: block
	width: 100%
	height: auto
a
	color: inherit
	text-decoration: none
.m
	display: none
.pc
	display: block
.br
	font-weight: bolder
.cl_blue
	color: $blue
.cl_pink
	color: $pink
.right
	text-align: right
.mid
	text-align: center
h1
	font-size: 3rem
h2
	font-size: 2rem
h3
	font-size: 1.8rem
h4
	font-size: 1.5rem
p
	font-size: 1.2rem
span
	font-size 1rem
.btn
	text-align center
	min-width: 90px
	max-width 130px
	border-radius: 5px
	background-color: $red
	color: #fff
	border: 2px solid $pink
	padding: .5rem 1rem
	box-sizing: border-box
	font-weight: bolder
	transition: all .3s
	font-size 1rem
	letter-spacing 1px
	&:hover
		background-color: $blue
		border: 2px solid $blue
		color: #fff
hr
	margin 3% auto
	border: none
	border-top: 1px solid #fff	
html, body
	min-height: 100%
	height: 100%
	font-family: Noto Sans TC, Segoe UI, Helvetica, Arial, 'LiHei Pro', '微軟正黑體', '新細明體', sans-serif
	font-size: $fontsize
	line-height: 1.5
	color: $font_gray
	background-color $light_gray
	
#wrapper
	position: relative
	width: 100%
	height: auto
	min-height: 100%
	max-width: $max_w
	margin: 0 auto
section
	position: relative
	width: 100%
	height: auto
.flex
	display: flex
	align-items: center
	width: 100%
	.col
		flex: 1
	.col2
		flex: 2
	.col3
		flex: 3
	.right
		align-items: right 
/*------indexx------*/
.slick-prev,.slick-next
	width 40px
	height 40px
	z-index 1
	&:before
		display none
.slick-prev
	left 0
	transform: translate(20%,-50%)
	background-image url(../images/arrow_left.png)
	background-repeat no-repeat
	background-size 100% 100%
.slick-next
	right 0
	transform: translate(-20%,-50%)
	background-image url(../images/arrow_right.png)
	background-repeat no-repeat
	background-size 100% 100%
.slick-prev, .slick-prev
	&:hover,&:focus
		background auto
		background-image url(../images/arrow_left.png)
		background-size 100% 100%
.slick-next, .slick-next
	&:hover,&:focus
		background auto
		background-image url(../images/arrow_right.png)
		background-size 100% 100%
.slick-dotted.slick-slider
	margin-bottom 0
.slick-dots
	position absolute
	bottom 0
	right 0
	transform: translate(-25%,-80%)
	width auto
	li
		button
			&:before
				opacity 1
				color: $gray
				font-size 1rem
		&.slick-active,&:hover
			button
				&:before
					opacity 1
					color: $yellow
.area_title
	padding 2% 2% 0 5%
	box-sizing: border-box
	vertical-align bottom
	line-height 2
	font-weight bolder
	font-size 1rem
	a
		color: $font_green
		font-size 0.8rem
.hot_product_list,.news_list
	background-color #fff
	padding 0 3%
	box-sizing: border-box
	.col
		padding 2%
		box-sizing: border-box
.news_list
	.text
		.title
			overflow:hidden
			text-overflow:ellipsis
			display: -webkit-box
			-webkit-box-orient: vertical
			-webkit-line-clamp: 2
		.date
			color: #afafaf
			font-size 0.8rem
#in_s3
	margin-bottom 2rem
/*------psp_step------*/
#psp_step1
	max-width 800px
	margin 0 auto
	padding 5% 5% 0 5%
	box-sizing: border-box
	text-align center
#psp_step2
	max-width 800px
	margin 0 auto
	padding 0 5% 5% 5%
	box-sizing: border-box
	.area_title
		padding 0
#psp_stpe
	width 90%
	max-width 550px
	margin: 5% auto
	background-repeat no-repeat
	background-size 100% auto
	&:after
		display block
		content: ''
		padding-top 9.859%
	&.step1
		background-image url(../images/progressbars1.png)
	&.step2
		background-image url(../images/progressbars2.png)
	&.step3
		background-image url(../images/progressbars3.png)
	&.step4
		background-image url(../images/progressbars4.png)
#remainder
	display block
	vertical-align middle
	width 100%
	max-width 600px
	overflow hidden
	border-radius: 50px
	border: 1px solid $gray2
	box-shadow: 1px 1px 2px rgba(0,0,0,.2) inset
	background-color #fff
	margin 0 auto 5% auto
	box-sizing: border-box
	line-height 3.5
	span
		font-size 1.2rem
		font-weight bolder
	&:before
		display inline-block
		vertical-align sub
		content: ''
		width 20px
		height 30px
		margin-right 20px
		background-image url(../images/icon_lock.png)
		background-size contain
		background-repeat no-repeat
	input[type="text"]
		display inline-block
		vertical-align sub
		width: 25%
		font-size 2.5rem
		font-weight bolder
		text-align center
		color: $light_yellow
		border: none
		background transparent
		outline: none
.color_ticket
	display flex
	flex-wrap: wrap
	font-size 0
	label
		flex: 1
		min-width 50%
		max-width 50%
		padding 10px
		box-sizing: border-box
		cursor pointer
		input[type="radio"]
			display none
#step_btn
	display block
	margin 0 auto
#psp_step3
	max-width 800px
	margin 0 auto
	padding 5% 5% 0 5%
	box-sizing: border-box
	text-align center
	p
		display block
		color: #fff
	input
		display inline-block
		width: 60%
		font-size 2.5rem
		line-height 1.5
		font-weight bolder
		text-align center
		color: $light_yellow
		outline: none
		border-radius: 50px
		border: 1px solid $gray2
		box-shadow: 1px 1px 2px rgba(0,0,0,.2) inset
	label
		span
			font-size 1.3rem
#pick_demo
	width 50%
	margin 0 auto
#formula_content
	max-width 800px
	margin 0 auto
	align-items flex-start
	padding 5% 2%
	box-sizing: border-box 
	.col
		padding-right 5%
		box-sizing: border-box
		text-align center
	.col2
		font-weight bold
/*------news------*/
#news
	.news_list
		padding 3%
		flex-wrap: wrap
		background-color transparent
		.col
			background-color #fff
			min-width 30.33%
			margin: 1%
			padding 2%
			box-sizing: border-box
			.text
				.title
					margin .5rem 0
/*------shopping------*/
#shopping
	.shopping_list
		padding 3%
		box-sizing: border-box
		flex-wrap: wrap
		background-color transparent
		.col
			background-color #fff
			min-width 46%
			margin: 2%
			padding 2%
			box-sizing: border-box
			.text
				text-align center
				.title
					margin .5rem 0
				.sub
					font-size 0.8rem
				.price
					color: #f20404
/*------shopping_content------*/
#shopping_product,#spc_content
	width 100%
	max-width 1000px
	margin 0 auto
	padding 2%
	box-sizing: border-box
#shopping_product
	.col
		padding 2%
		box-sizing: border-box
	.text
		.price
			font-size 1.2rem
			color: #f20404
#product_num
	width 25%
	margin-right 20px
	font-size 1rem
	padding .5rem
	box-sizing: border-box
	outline: none
	text-align center
	appearance none
	-moz-appearance none
	-webkit-appearance none
	background  url("../images/select_arrow.png") no-repeat right center transparent
	background-color #fff
	background-size contain
	color gray
	border: 5px solid #fff
	&::-ms-expand
		display: none
#add_car
	background-color #94bcc6
	border-radius: 50px
#spc_content
	font-weight bolder
	padding-bottom 10%
.ind
	display block
	padding-left 2rem
@import '_mobile.styl'