// @media screen and (max-width: 1023px)
@media screen and (max-width: 767px)
    .m
        display: block
    .pc
        display: none
    h1
        font-size: 2rem
    h2
        font-size: 1.8rem
    h3
        font-size: 1.5rem
    h4
        font-size: 1.3rem
    p
        font-size: 1rem
    span
	    font-size .7rem
    /*------index------*/
// @media screen and (max-width: 400px)
    
// @media screen and (max-width: 359px)